<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <appSettings>
    <add key="CslaAuthentication" value="Windows" />
    <add key="CslaDataPortalProxy" value="CslaAsyncAwait.Lib.Server.BasicHttpBindingWcfProxy, CslaAsyncAwait.Lib" />
    <add key="CslaDataPortalUrl" value="http://localhost/CslaAsyncAwaitPortal/WcfPortal.svc" />
  </appSettings>
</configuration>
